name: Publish easyclimate to PyPI

on:
  release:
    types: [published, edited]

jobs:
  BuildLinux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: 'x64'

      - name: Build manylinux wheels with Maturin
        run: |
          bash ./scripts/build_manylinux_wheel.sh

      - name: Upload Linux build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-linux
          path: dist/

  BuildWindows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Windows wheels
        shell: pwsh
        run: |
          ./scripts/build_manywindows_wheel.ps1

      - name: Upload Windows build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-windows
          path: dist/

  Publish:
    runs-on: ubuntu-latest
    needs:
      - BuildLinux
      - BuildWindows
    permissions:
      id-token: write
    environment:
      name: pypi

    steps:
      - name: Download Linux artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-linux
          path: dist/

      - name: Download Windows artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-windows
          path: dist/

      - name: Publish to PyPI (Trusted Publishing)
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
