name: Publish easyclimate to PyPI

on:
  release:
    types: [published, edited]

jobs:
  BuildAndPublish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: 'x64'

      - name: Build manylinux wheels with Maturin
        run: |
          bash ./scripts/build_manylinux_wheel.sh

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: dist/